﻿<!DOCTYPE html>
<!-- define angular app -->
<html ng-app="bankingApp">

<head>
    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    @*<link rel="stylesheet" href="~/Views/Home/css/.css">*@
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")">
    <!-- SPELLS -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="@Url.Content("~/assets/js/app.js")"></script>
    <script src="@Url.Content("~/assets/js/services.js")"></script>
    <script src="@Url.Content("~/assets/js/controllers.js")"></script>
</head>
<!-- define angular controller -->

<body ng-controller="mainController" ng-cloak>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Banking Application</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="logined"><a href="#login">Log in</a></li>
                <li ng-hide="logined"><a href="#signup">Sign up</a></li>
                <!-- <li><a href="#signup">Sign out</a></li> -->
                <li ng-show="logined" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#deposit">Deposit money</a></li>
                        <li><a href="#withdraw">Withdraw money</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#transfer">Transfer money to another account </a></li>
                        <li><a href="#statement">Get statement of transactions </a></li>
                    </ul>
                </li>                
                <li ng-show="logined"><a href="#login" ng-click="signOut()">Sign out</a></li>
            </ul>
        </div>
    </nav>
    <div id="main">
        <div ng-view class="container"></div>
    </div>
    <footer class="text-center"></footer>
</body>

</html>
